h1 {
    font-size: bold;
}

h4 {
    font-size: bold;
}

body {
    background-color: chartreuse;
    text-align: center;
    font-family: kuenstler script;
}

#contact iframe {
    width: 100%;
}

.contact_1 h3 {
    display: inline;
}

.contact_1 a {
    text-shadow: none;
}
